/* [project]/app/globals.css [app-client] (css) */
body {
  background-color: #f8f9fa;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  display: flex;
}

/* [project]/node_modules/modern-normalize/modern-normalize.css [app-client] (css) */
*, :before, :after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.15;
}

body {
  margin: 0;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  border-color: currentColor;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* [project]/components/Footer/Footer.module.css [app-client] (css) */
.Footer-module__rnk_JG__footer {
  text-align: center;
  color: #555;
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
  padding: 20px;
  font-size: 14px;
}

.Footer-module__rnk_JG__wrap {
  justify-content: center;
  gap: 20px;
  display: flex;
}

.Footer-module__rnk_JG__footer a {
  color: #226ec5;
  font-weight: 600;
  text-decoration: none;
}

.Footer-module__rnk_JG__footer a:hover {
  text-decoration: underline;
}

/* [project]/components/Header/Header.module.css [app-client] (css) */
.Header-module__arFiJq__header {
  color: #fff;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  display: flex;
}

.Header-module__arFiJq__header a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.Header-module__arFiJq__header a:hover {
  color: #ddd;
}

.Header-module__arFiJq__navigation {
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.Header-module__arFiJq__navigation li a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.Header-module__arFiJq__navigation li a:hover {
  color: #ddd;
}

/*# sourceMappingURL=_1e1bc7c0._.css.map*/